.cc-reference .card {
    padding: 40px;
}

.cc-reference .cc-reference-header {
    text-align: center;
}

.cc-reference img {
    height: 120px;
    width: 120px;
    max-width: none;
    border-radius: 50%;
}

.cc-reference .h5 {
    margin: 0;
}

.cc-reference .carousel-indicators li {
    background: #a5a3a3;
}

.cc-reference .carousel-indicators .active {
    background-color: #378c3f;
}

.cc-reference .carousel-inner {
    box-shadow: none;
}

@media (max-width: 768px) {
    .cc-reference .carousel-indicators {
        bottom: 0px;
    }

    .cc-reference ol {
        margin-bottom: 0;
    }
}

/* Common Style */
.section {
    padding-bottom: 0;
}


.avatar {
    /* Center the content */
    display: inline-block;
    vertical-align: middle;

    /* Used to position the content */
    position: relative;

    /* Colors */
    background-color: #378c3f;
    color: #fff;

    /* Rounded border */
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.avatar__letters {
    /* Center the content */
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: xxx-large;
}