  #skill p {
      text-align: justify;
  }

  .progress-container {
      position: relative;
      text-align: center;
      margin: 15px;
  }

  .progress-container+.progress-container,
  .progress-container~.progress-container {
      margin-top: 15px;
  }

  .progress-container .progress-badge {
      color: #888;
      font-size: 0.6571em;
      text-transform: uppercase;
  }

  .progress-container .progress {
      height: 1px;
      border-radius: 0;
      box-shadow: none;
      background: rgba(222, 222, 222, 0.8);
      margin-top: 14px;
  }

  .progress-container .progress .progress-bar {
      box-shadow: none;
      background-color: #888;
  }

  .progress-container .progress .progress-value {
      position: absolute;
      top: 2px;
      right: 0;
      color: #888;
      font-size: 0.8571em;
  }

  .progress-container.progress-neutral .progress {
      background: rgba(255, 255, 255, 0.3);
  }

  .progress-container.progress-neutral .progress-bar {
      background: #ffffff;
  }

  .progress-container.progress-neutral .progress-value,
  .progress-container.progress-neutral .progress-badge {
      color: #ffffff;
  }

  .progress-container.progress-primary .progress {
      background: rgba(55, 140, 63, 0.4);
  }

  .progress-container.progress-primary .progress-bar {
      background: #378c3f;
  }

  .progress-container.progress-primary .progress-value,
  .progress-container.progress-primary .progress-badge {
      color: #378c3f;
  }

  .progress-container.progress-info .progress {
      background: rgba(44, 168, 255, 0.3);
  }

  .progress-container.progress-info .progress-bar {
      background: #2ca8ff;
  }

  .progress-container.progress-info .progress-value,
  .progress-container.progress-info .progress-badge {
      color: #2ca8ff;
  }

  .progress-container.progress-success .progress {
      background: rgba(24, 206, 15, 0.3);
  }

  .progress-container.progress-success .progress-bar {
      background: #18ce0f;
  }

  .progress-container.progress-success .progress-value,
  .progress-container.progress-success .progress-badge {
      color: #18ce0f;
  }

  .progress-container.progress-warning .progress {
      background: rgba(255, 178, 54, 0.3);
  }

  .progress-container.progress-warning .progress-bar {
      background: #ffb236;
  }

  .progress-container.progress-warning .progress-value,
  .progress-container.progress-warning .progress-badge {
      color: #ffb236;
  }

  .progress-container.progress-danger .progress {
      background: rgba(255, 54, 54, 0.3);
  }

  .progress-container.progress-danger .progress-bar {
      background: #ff3636;
  }

  .progress-container.progress-danger .progress-value,
  .progress-container.progress-danger .progress-badge {
      color: #ff3636;
  }


  .progress-container {
      margin-bottom: 20px;
      font-size: 18px;
  }

  .progress-container .progress-bar {
      height: 5px;
      transform: scaleX(0);
      transition: transform 2s ease-in-out;
      transform-origin: 0% 0%;
  }

  .progress-container .progress {
      height: 5px;
      font-size: 18px;
  }

  .progress-container .aos-animate {
      transform: scaleX(1);
  }

  .skill-svg svg {
      width: 60px !important;
      height: 60px !important;
  }

  @media screen and (max-width: 768px) { 
    .skill-svg svg {
        width: 40px !important;
        height: 40px !important;
    }
  }