.footer.footer-default {
    background-color: #f2f2f2; 
    padding: 0px;
    margin: 0px;
}

.footer-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-content .title {
    font-family: 'Sarina', cursive !important;
}

.cc-facebook:hover i {
    color: #3b5998;
}

.cc-twitter:hover i {
    color: #1da1f2;
}

.cc-google-plus:hover i {
    color: #dd4b39;
}

.cc-instagram:hover i {
    color: #e54055;
}

.cc-linkedin:hover i {
    color: #0a66c2;
}

.cc-skype:hover i {
    color: #0191d1;
}

.cc-telegram:hover i {
    color: #27a5e5;
}

.cc-github:hover i {
    color: #333;
}

a.credit {
    color: inherit;
    border-bottom: 1px dashed;
    text-decoration: none;
    cursor: pointer;
}